body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
}

.calculator {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
}

#display {
  width: 100%;
  height: 45px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  height: 45px;
  font-size: 18px;
}

.equal {
  background: green;
  color: white;
}

.zero {
  grid-column: span 2;
}
